*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    font-size: 30px;
    padding: 0%;

}
nav{
    text-align:center;
    display: flex;
    align-items: center;
    gap: 15px;
    padding:0px;
    
}
.logos img{
    width: 17px;
    justify-content: center;

}
hr{
    height: 15px;
}